PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
NODE_ENV=development
PORT=3010

JWT_KEY=0eab42de4c3ceb9235fc91acffe746b29c29a8c366b7c60e4e67c466f36a4304c00fa9caf9d87976ba469bcbe06713b435f091ef2769fb160cdab33d3670680e

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

TWILIO_ACCOUNT_SID=
TWILIO_API_SID=
TWILIO_API_SECRET=
TWILIO_AUTH_TOKEN=

KAFKAJS_NO_PARTITIONER_WARNING=1
RECAPTCHA_SECRET_KEY=
ORGANIZATIONS_KEY=